<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to update matches even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to find matches nearby.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access to let you select or upload profile pictures.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access so you can take a new profile photo.</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
